* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 98.5vh;
  border: 2px solid palevioletred;  
  margin: 5px;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65vh;  
  width: 30vw;
  background-color: rgb(233, 191, 233);
  border: 2px solid plum;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(56, 29, 50, 0.1);
  margin: 5px;

}

.form-contents {
  height: 50vh;  
  width: 25vw;
}

.login-form {
  display: flex;
  flex-direction: column;

}

.login-form h3 {
  color: white;
  font-family:sans-serif;
}

.login-form .submit {
  width: 5vw;
}

.sub-container {
  height: 30vh;  
  width: 8.33vw;
  background: #2196f3;
  margin: 5px;
}
